*{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    background:#262626 ;
    width: 100%;
    z-index: 12;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo a{
    margin-left: 0;
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodletitling;
    color: #fff;
    letter-spacing: 2px;
}
.globe img{
    float: left;
    width: 75px;
    height: auto;
    margin-top: 20px;
}

nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family:bignoodletitling ;
    letter-spacing: 3px;
    font-size: 18px;
    margin: 0 10px;
    color: #fff;
}
nav a:hover{
    background-color: %fff;
    color: #edd924;
}
nav a.active{
     background-color: gray;
}
body
{
background: linear-gradient(to bottom right, #1ac6ff, #ffff1a) ;
background-position: center;
    background-size: cover;


}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


/*first news/*/

#i2
{
    background-image: url("1.jpg");
    width: 800px;
    height: 400px;
    margin-left: 100px;
    background-position: center;
    background-size: cover;
    margin-top: 170px;
    
}

/*second news/*/
#i3
{
    background-image: url("2.png");
    width: 800px;
    height: 400px;
    margin-left: 100px;
    background-position: center;
    background-size: cover;
    margin-top: 15px;    
}

/*third news/*/
#i4
{
    background-image: url("3.jpg");
    width: 800px;
    height: 400px;
    margin-left: 100px;
    background-position: center;
    background-size: cover;
    margin-top: 15px;    
   }




#i10
{
    background-image: url("20.png");
    width: 200px;
    height: 300px;
    margin-left: 100px;
    background-position: center;
    background-size: cover;
    margin-top: -700px;    
    margin-left: 395px;
    margin-bottom: 20px;
   }

#i11
{
    background-image: url("21.png");
    width: 200px;
    height: 300px;
    margin-left: 100px;
    background-position: center;
    background-size: cover;
    margin-top: 50px;    
    margin-left: 100px;
   }
   
#i12
{
    background-image: url("22.png");
    width: 200px;
    height: 300px;
    margin-left: 100px;
    background-position: center;
    background-size: cover;
    margin-top: 50px;    
    margin-left: 395px;
   }






/*NEWS | Climate Change*/

.first
{
  
   margin-left: 100px;
   font-family: sans-serif;
   font-color: orange;

}

/*First news*/
.second
{
    font-family: sans-serif;
    margin-left: 100px;
    margin-top: 0px;
}

 /*LATEST list*/


.fourth
{
  font-family: sans-serif;
margin-left: 1000px;
margin-top: 10px;

}

/*second news*/
.fifth
{
    font-family: sans-serif;
    margin-left: 100px;
    margin-top: 0px;
}

/*third news*/
.sixth
{
    font-family: sans-serif;
    margin-left: 100px;
    margin-top: 0px;
}


/*first line break/*/

#u1
{
    margin-left: 100px;
}

/*LATEST word/*/
#u2
{
font-family: Trebuchet MS;
margin-left: 1000px;
margin-top: -332px;
background-color: gray;
 
 }


/*next buttn/*/
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 795px;
  margin-top: 70px;
}
.button:hover {
  background-color: #5467a1;
  color: #fff;

}
.button1 {background-color:#90a1d4;}



/*links/*/

a:link 
{

  text-decoration: none;
  font-color: black;

}


body {
 margin: 0;
 padding: 0;
}
.main {
 max-height: 550px;;
 background-color: #292c2f;
 color: white;
 font-size: 38pt;
 text-align: center;
 line-height: 550px;
}
footer{

 bottom: 0;
 margin-left: 0px;
}
.footer-distributed{
 background-color: #292c2f;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: bold 16px sans-serif;
 
 padding: 55px 50px;
 margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}
 
.footer-distributed .footer-left{
 width: 40%;
}
 
.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px 'Cookie', cursive;
 margin: 0;
}
 
.footer-distributed h3 span{
 color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}
 
.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
}
 
.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}
 
 
.footer-distributed .footer-center{
 width: 35%;
}
 
.footer-distributed .footer-center i{
 background-color:  #33383b;
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}
 
.footer-distributed .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
}
 
.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:14px;
 line-height:2;
}
 
.footer-distributed .footer-center p a{
 color:  #5383d3;
 text-decoration: none;;
}
 
.footer-distributed .footer-right{
 width: 20%;
}
 
.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #92999f;
 font-size: 13px;
 font-weight: normal;
 margin: 0;
}
 
.footer-distributed .footer-company-about span{
 display: block;
 color:  #ffffff;
 font-size: 14px;
 font-weight: bold;
 margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
 margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #33383b;
 border-radius: 2px;
 
 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;
 
 margin-right: 3px;
 margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
 .footer-distributed{
 font: bold 14px sans-serif;
 
 }
 
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 display: block;
 width: 100%;
 margin-bottom: 40px;
 text-align: center;
 }
 
 .footer-distributed .footer-center i{
 margin-left: 0;
 }
 .main {
 line-height: normal;
 font-size: auto;
 }








